
h1{color: blue;
    text-align: center;


}
p{color: rgb(167, 10, 29);
    text-align: center;

}
h2{color: rgb(7, 235, 72);
    text-align: center;

}
img{
    display: flex;
    width: 200px;

   
}